/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/

/laskarit/viikko2/Unicafe/target

/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/yessssti/nbproject/private/
/laskarit/viikko2/testigraaffinen/nbproject/private/
/laskarit/viikko2/testigraaffinen/build/
/laskarit/viikko2/testigraaffinen/dist/
/laskarit/viikko2/Resepts/nbproject/private/

/RecipeCollection/target/
/laskarit/viikko2/tiedostonlukemistesti/target/
/RecipeCollection/nbproject
/RecipeCollection/checkstyle.xml
/RecipeCollection/config.properties
/RecipeCollection/nbactions.xml
/RecipeCollection/pom.xml
/RecipeCollection/skipped_files.xml
/laskarit/viikko2/testaus/nbproject/private/
